@model learner_portal.Models.DocumentType

<form asp-action="Edit"
        data-ajax="true"
        data-ajax-method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="form-group col-md-12">
            <b>Document Type Name</b>
            <input asp-for="TypeName" class="form-control" placeholder="Enter Document Type Name"/>
            <span asp-validation-for="TypeName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <b>Document Type Description</b>
            <input asp-for="Description" class="form-control" placeholder="Enter Description"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <b>Role for This Docyment Type</b><br>
            <select asp-for="RoleId" class="form-control option-control" style="width: 100%" asp-items="ViewBag.RoleId">
                <option value="" selected disabled hidden>Choose Role</option>
            </select>
        </div>
        <div class="col-3 mb-3">
            <div class="form-group">
                <label asp-for="@Model.ActiveYn"></label>
                <input  class="switch switch-md"  asp-for="@Model.ActiveYn" type="checkbox" />
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>
</form>

