
<div class="card card-custom gutter-b">
    <div class="card-header">
        <h4 class="mt-8">Document Types</h4>
    </div>
    <div class="card-body">
        <table id="allDocumentTypes" class="table "> 
            <thead>
            @*<tr>
                <div class="form-actions no-color col-md-3 float-left">
                    <button class="btn btn-primary btn-sm mb-2 btn-rounded" onclick="showInPopUp('@Url.Action("Create", "DocumentTypes", null, Context.Request.Scheme)', 'Add Document Type')" id="btnCreate"><i class="fa fa-plus"></i>Create Document Type</button>
                </div>
            </tr>*@
            <tr>
                <th>Id</th>
                <th>Type Name</th>
                <th>Description</th>
                <th>Role</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>

    </div>
</div>

<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        createDocumentTypesDataTable('allDocumentTypes', '/DocumentTypes/GetAllDocumentTypes'); 

        // Hide the "busy" Gif at load:


    });

</script>