
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <title>Learner Portal</title>
    @{
        await Html.RenderPartialAsync("_Styles");
    }
    @RenderSection("styles", required: false)
</head>
<body class="quick-panel-right demo-panel-right offcanvas-right header-fixed header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-minimize-hoverable page-loading">

<!--html-partial:include:{"file":"layout.html"}-->

		<!--html-partial:include:{"file":"partials/_extras/offcanvas/quick-user.html"}-->
@await Html.PartialAsync("Partial/_extras/offcanvas/quick-user")
		<!--html-partial:include:{"file":"partials/_extras/offcanvas/quick-panel.html"}-->
   @await Html.PartialAsync("Partial/_extras/offcanvas/quick-panel")
		<!--html-partial:include:{"file":"partials/_extras/chat.html"}-->
   @await Html.PartialAsync("Partial/_extras/chat")
		<!--html-partial:include:{"file":"partials/_extras/scrolltop.html"}-->
   @await Html.PartialAsync("Partial/_extras/scrolltop")
		<!--html-partial:include:{"file":"partials/_extras/toolbar.html"}-->
   @await Html.PartialAsync("Partial/_extras/toolbar")
		<!--html-partial:include:{"file":"partials/_extras/offcanvas/demo-panel.html"}-->
   @await Html.PartialAsync("Partial/_extras/offcanvas/demo-panel")
<!--begin::Main-->
<!-- [html-partial:include:{"file":"partials/_header-mobile.html"}] -->
   @await Html.PartialAsync("Partial/_header-mobile")


<div class="d-flex flex-column flex-root">
         
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">

            <!-- [html-partial:include:{"file":"partials/_aside.html"}] --> 
            @await Html.PartialAsync("Partial/_aside")

            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                <!-- [html-partial:include:{"file":"partials/_header.html"}] -->
                @await Html.PartialAsync("Partial/_header") 

                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                    <!-- [html-partial:include:{"file":"partials/_subheader/general.html"}] -->
                    @{
                        await Html.RenderPartialAsync("Partial/_subheader/general");
                    }
                    <!--Content area here-->
                    @* @await Html.PartialAsync("Partial/_content")*@
                    <div class="d-flex-column ml-5 mr-5">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>

                 @await Html.PartialAsync("Partial/_Modal")
                
                 @await Html.PartialAsync("Partial/_ModalXl")
                
                <!--end::Content-->
                <!-- [html-partial:include:{"file":"partials/_footer.html"}] -->
                @await Html.PartialAsync("Partial/_footer")
            </div>

            <!--end::Wrapper-->
        </div>

        <!--end::Page-->
    </div>

    <!--end::Main-->
@{
    await Html.RenderPartialAsync("_Scripts");
}
@RenderSection("scripts", required: false)
 @await Component.InvokeAsync("Notyf")
</body>
</html>
