@if (TempData["notification"] != null)
{
@Html.Raw(TempData["notification"])
}

@if (TempData["Notification2"] != null)
{
    @Html.Raw(TempData["Notification2"])
}

@{
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}
@if (!string.IsNullOrEmpty(type))
{
    <div class="alert alert-@type alert-dismissible fade" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@title</strong> @body
    </div>    
}