<link rel="shortcut icon" href="~/img/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<environment names="Development,Production">
	<base href="">
	<meta charset="utf-8" />
	<title>CHIETA | The Chemical Industries Education & Training Authority - SETA</title>
	<meta name="description" content="Updates and statistics" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />

	<!--begin::Page Vendors Styles(used by this page)-->
	<link href="~/assets/css/courasel-style.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" /> 
	<link href="~/assets/css/themes/layout/header/base/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/themes/layout/header/menu/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/custom/uppy/uppy.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!--end::Page Vendors Styles-->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<!--end::Layout Themes-->
	<link rel="shortcut icon" href="~/assets/media/logos/chieta.png" />

</environment>

