<link rel="shortcut icon" href="~/img/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<environment names="Development,Production">
	<meta charset="utf-8" />
	<title>CHIETA | Dashboard</title>
	<meta name="description" content="Updates and statistics" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->

	<!--end::Page Vendors Styles-->
	<!--begin::Global Theme Styles(used by all pages)-->
	<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Global Theme Styles-->   
	<!--begin::Page Vendors Styles(used by this page)-->
	<link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" /> 
	<link href="~/assets/css/pages/wizard/wizard-3.css" rel="stylesheet" type="text/css" />
	<!--begin::Layout Themes(used by all pages)-->
	<link href="~/assets/css/themes/layout/header/base/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/themes/layout/header/menu/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
	<!--end::Layout Themes-->
	<link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!--end::Page Vendors Styles-->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<!--end::Page Vendors Styles-->

</environment>

@*
<environment names="Staging,Production">
    <link href="~/view-resources/Views/_Bundles/shared-layout.min.css" rel="stylesheet" asp-append-version="true" />
</environment>*@