@model learner_portal.DTO.ResetPasswordDTO

@{
	Layout = "_Layout";
}

<!--begin::Main-->
<div class="d-flex flex-column flex-root">
	<!--begin::Login-->
	<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
		<!--begin::Aside-->
		<div class="login-aside d-flex flex-column flex-row-auto" >
			<!--begin::Aside Top-->
			<div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15" style="background-color: #3e254f;">
				<!--begin::Aside header-->
				<a href="#" class="text-center mb-15">
					<img src="~/assets/media/logos/chieta.png" alt="logo" class="h-70px" style="background-color: #3e254f;"/>
				</a>
				<!--end::Aside header-->
				<!--begin::Aside title-->
				<!--end::Aside title-->
			</div>
			<!--end::Aside Top-->
			<!--begin::Aside Bottom-->
			<div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(/assets/media/logos/chieta_bg.png)"></div>
			<!--end::Aside Bottom-->
		</div>
		<!--begin::Aside-->
		<!--begin::Content-->
		<div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
			<!--begin::Content body-->
			<div class="d-flex flex-column-fluid flex-center">
				<form asp-controller="Account" asp-action="ResetPassword" class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_login_forgot_form" novalidate="novalidate">
					<div asp-validation-summary="All" class="text-danger"></div>
					<input asp-for="Token" type="hidden"/>
					<input asp-for="Email" type="hidden"/>
					<!--begin::Title-->
					<div class="pb-md-8">
						<h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Reset Your Password</h3>
						<p class="text-muted font-weight-bold font-size-h4">Enter a new password and confirm to reset.</p>
					</div>
					<!--end::Title-->
					<!--begin::Form group-->
					<div class="form-group">
						<input asp-for="Password" class="form-control form-control-solid h-auto p-3 rounded-lg font-size-h6" type="password" placeholder="Password" autocomplete="off"/>
                       <span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="ConfirmPassword" class="form-control form-control-solid h-auto p-3 rounded-lg font-size-h6" type="password" placeholder="Confirm Password" autocomplete="off"/>
					    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
					<!--end::Form group-->
					<!--begin::Form group-->
					<div class="form-group d-flex flex-wrap">
						<button type="submit" value="ResetPassword" class="btn font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3 text-white" style="background-color: #3e254f;">Reset Password</button>
						<a href="/Account/Login" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">Cancel</a>
					</div>
					<!--end::Form group-->
					<input type="hidden">
					<div></div>
				</form>
			</div>

			<!--end::Content body-->
		</div>
		<!--end::Content-->
	</div>
	<!--end::Login-->
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
