@*@model learner_portal.Models.Documents

<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="progressbarwizard">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.TypeName):</b>
                        <div class="form-control form-control-feedback h-auto p-3">
                            @Html.DisplayFor(model => model.TypeName)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Description):</b>
                        <div class="form-control form-control-feedback h-auto p-3">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger mr-1" />
    </div>
</form>*@