<!--Start Modal-->
<!-- Modal to Create records on the Database  -->
<div class="modal ribbon-box" tabindex="-1" role="dialog" id="form-modal-lg" style="display: none;position: center;">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content ">
            <div class="modal-header ribbon ribbon-clip ribbon-left"> 
                <div class="ribbon-target" style="top: 12px;">
                    <span class="ribbon-inner bg-primary"></span><p class="text-uppercase text-white modal-title"></p>
                </div>
                <a asp-action="Index" type="button" class="close mt-5" data-dismiss="modal" style="padding-left: 920px;" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </a>
            </div>
            <div class="modal-body ">
            </div>
        </div>
    </div>
</div>
<!--End Modal-->