@model learner_portal.Models.LearnerViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!--begin::Main-->
<div class="d-flex flex-column flex-root"> 
    
    <div class="d-flex flex-row-fluid flex-center">
        <!--begin::Container-->
        <div class="container"> 
        <div class="card card-custom">
        
        <div class="card-body py-15">
        <a asp-controller="Person" asp-action="Index" type="button" class="close" data-dismiss="modal" aria-label="Close">
	        <i aria-hidden="true" class="ki ki-close"></i>
        </a>
        <!--begin: Wizard-->
        <div class="wizard wizard-3" id="kt_wizard" data-wizard-state="between" data-wizard-clickable="true">
        <!--begin: Wizard Nav-->
        <div class="wizard-nav">
	        <div class="wizard-steps px-8 py-5 px-lg-15 py-lg-7">
		        <!--begin::Wizard Step 1 Nav-->
		        <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
			        <div class="wizard-label">
				        <span class="wizard-number">1</span>
				        <span class="wizard-check">
					        <span class="svg-icon svg-icon-2x">
						        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Check.svg-->
						        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <polygon points="0 0 24 0 24 24 0 24"></polygon>
								        <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002)"></path>
							        </g>
						        </svg>
						        <!--end::Svg Icon-->
					        </span>
				        </span>
			        </div>
			        <div class="wizard-title">Personal Information</div>
		        </div>
		        <!--end::Wizard Step 1 Nav-->
		        <!--begin::Wizard Step 2 Nav-->
		        <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
			        <div class="wizard-label">
				        <span class="wizard-number">2</span>
				        <span class="wizard-check">
					        <span class="svg-icon svg-icon-2x">
						        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Check.svg-->
						        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <polygon points="0 0 24 0 24 24 0 24"></polygon>
								        <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002)"></path>
							        </g>
						        </svg>
						        <!--end::Svg Icon-->
					        </span>
				        </span>
			        </div>
			        <div class="wizard-title">Address Details</div>
		        </div>
		        <!--end::Wizard Step 2 Nav-->
		        <!--begin::Wizard Step 3 Nav-->
		        <div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
			        <div class="wizard-label">
				        <span class="wizard-number">3</span>
				        <span class="wizard-check">
					        <span class="svg-icon svg-icon-2x">
						        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Check.svg-->
						        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <polygon points="0 0 24 0 24 24 0 24"></polygon>
								        <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002)"></path>
							        </g>
						        </svg>
						        <!--end::Svg Icon-->
					        </span>
				        </span>
			        </div>
			        <div class="wizard-title">Qualifications</div>
		        </div>
		        <!--end::Wizard Step 3 Nav-->
		        <!--begin::Wizard Step 5 Nav-->
		        <div class="wizard-step" data-wizard-type="step" data-wizard-state="pending">
			        <div class="wizard-label">
				        <span class="wizard-number">4</span>
				        <span class="wizard-check">
					        <span class="svg-icon svg-icon-2x">
						        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Check.svg-->
						        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <polygon points="0 0 24 0 24 24 0 24"></polygon>
								        <path d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002)"></path>
							        </g>
						        </svg>
						        <!--end::Svg Icon-->
					        </span>
				        </span>
			        </div>
			        <div class="wizard-title">Completed!</div>
		        </div>
		        <!--end::Wizard Step 5 Nav-->
	        </div>
        </div>
        <!--end: Wizard Nav-->
        <!--begin: Wizard Body-->
        <div class="row justify-content-center py-5 px-8 py-lg-12 px-lg-10">
        <div class="col-xl-12">
        <!--begin: Wizard Form-->
        <form asp-action="CreateAccount" novalidate="novalidate" enctype="multipart/form-data" class="form pt-10 fv-plugins-bootstrap fv-plugins-framework" id="kt_form">
        <!--begin: Wizard Step 1-->
        <div class="pb-5 card" data-wizard-type="step-content" id="account">
	        <div class="card-header">
		        <h4 class="mb-10 font-weight-bold text-dark">Setup Account Details</h4>
	        </div>
	        <div class="card-body">
		        <div class="col-md-6">
			        <div class="image-input image-input-outline" id="kt_image_1">
				        <div class="image-input-wrapper" style="background-image: url(assets/media/users/default-avatar.png)"></div>

				        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
					        <i class="fa fa-pen icon-sm text-muted"></i>
					        <input asp-for="Photo" type="file" name="Photo" class="form-group" accept="Image/*"/>
					        <input type="hidden" name="profile_avatar_remove"/>
				        </label>

				        <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
					        <i class="ki ki-bold-close icon-xs text-muted"></i>
				        </span>
			        </div>
		        </div> 
		        <div class="row col-md-12">
			        <div class="form-group col-md-4">
				        <b>First Name</b>
				        <input asp-for="Person.FirstName" class="form-control"/>
				        <span asp-validation-for="Person.FirstName" class="text-danger"></span>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Last Name</b>
				        <input asp-for="Person.LastName" class="form-control"/>
				        <span asp-validation-for="Person.LastName" class="text-danger"></span>
			        </div>
			        <div class="form-group col-md-4"> 
				        <b>National ID</b>
				        <input asp-for="Person.NationalId" class="form-control"/>
				        <span asp-validation-for="Person.NationalId" class="text-danger"></span>
			        </div>
		        </div>

		        <div class="row col-md-12">
			        <div class="form-group col-md-4">
				        <b>Date of Birth</b>
				        <input asp-for="Person.PersonsDob" class="form-control"/>
				        <span asp-validation-for="Person.PersonsDob" class="text-danger"></span>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Email</b>
				        <input asp-for="Person.Email" class="form-control" disabled/>
				        <span asp-validation-for="Person.Email" class="text-danger"></span>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Phone Number</b>
				        <input asp-for="Person.PhoneNumber" class="form-control"/>
				        <span asp-validation-for="Person.PhoneNumber" class="text-danger"></span>
			        </div>
		        </div>
		        <hr>

		        <div class="row col-md-12">
			        <div class="form-group col-md-4">
				       <b>Gender</b>
				        <select asp-for="Person.GenderId" class="form-control " asp-items="ViewBag.GenderId">
					        <option value="" selected disabled hidden>Choose Your Gender</option>
				        </select>
			        </div>
			        <div class="form-group col-md-4">
				       <b>Equity</b>
				        <select asp-for="Person.EquityId" class="form-control " asp-items="ViewBag.EquityId">
					        <option value="" selected disabled hidden>Choose Equity</option>
				        </select>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Home Language</b>
				        <select asp-for="Person.HomeLanguageId" class="form-control r" asp-items="ViewBag.HomeLanguageId">
					        <option value="" selected disabled hidden>Choose Your Home Language</option>
				        </select>
			        </div>
		        </div>
		        <div class="row col-md-12">
			        <div class="form-group col-md-4">
				        <b>Nationality</b>
				        <select asp-for="Person.NationalityId" class="form-control " asp-items="ViewBag.NationalityId">
					        <option value="" selected disabled hidden>Choose Nationality</option>
				        </select>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Citizenship Status</b>
				        <select asp-for="Person.CitizenshipStatusId" class="form-control " asp-items="ViewBag.CitizenshipStatusId">
					        <option value="" selected disabled hidden>Choose Your Citizenship Status</option>
				        </select>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Disability Status</b>
				        <select asp-for="Person.DisabilityStatusId" class="form-control " asp-items="ViewBag.DisabilityStatusId">
					        <option value="" selected disabled hidden>Choose Disability Status</option>
				        </select>
			        </div>
		        </div>
		        @*<div class="form-group row ml-5">
              $1$<label class="col-sm-4 col-form-control">Upload File:</label>
                <input asp-for="Cv" type="file" name="Photo" class="form-group" accept=".pdf,.doc"/>#1#
                   <label asp-for="Cv">Upload CV</label>
                   <input type="file" class="form-control-file" name="Photo">
            </div>*@
	        </div>
        </div>
        <!--end: Wizard Step 1-->
        <!--begin: Wizard Step 2-->
        <div class="pb-5 card" data-wizard-type="step-content" id="address">
	        <div class="card-header">
		        <h4 class="mb-10 font-weight-bold text-dark">Your Address Details</h4>
	        </div>
	        <div class="card-body">
		        <div class="row col-md-12">
			        <div class="form-group col-md-4">
				        <b>House No</b>
				        <input asp-for="Address.HouseNo" class="form-control" placeholder="Enter House No"/>
				        <span asp-validation-for="Address.HouseNo" class="text-danger"></span>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Street Name</b>
				        <input asp-for="Address.StreetName" class="form-control" placeholder="Enter Street Name"/>
				        <span asp-validation-for="Address.StreetName" class="text-danger"></span>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Country</b><br>
				        <select asp-for="Address.CountryId" class="form-control select2-search--dropdown" id="CountryId" style="width: 100%" asp-items="ViewBag.CountryId">
					        <option value="" selected disabled hidden>Choose Your Country</option>
				        </select>
			        </div>
		        </div>

		        <div class="row col-md-12">
			        <div class="form-group col-md-4">
				        <b>Province</b><br>
				        <select asp-for="Address.ProvinceId" class="form-control select2-search--dropdown" id="ProvinceId" style="width: 100%" asp-items="ViewBag.ProvinceId">
					        <option value="" selected disabled hidden>Choose Your Province</option>
				        </select>
			        </div>
			        <div class="form-group col-md-4">
				        <b>City</b>
				        <select asp-for="Address.CityId" class="form-control select2-search--dropdown" id="CityId" style="width: 100%" asp-items="ViewBag.CityId">
					        <option value="" selected disabled hidden>Choose Your City</option>
				        </select>
			        </div>
			        <div class="form-group col-md-4">
				        <b>Suburb</b>
				        <select asp-for="Address.SuburbId" class="form-control select2-search--dropdown" id="SuburbId" style="width: 100%" asp-items="ViewBag.SuburbId">
					        <option value="" selected disabled hidden>Choose Your Suburb</option>
				        </select>
			        </div>
		        </div>
		        <hr>
		        <div class="row col-md-12">
			        <div class="form-group col-md-4">
				        <b>Address Type</b>
				        <select asp-for="Address.AddressTypeId" class="form-control" asp-items="ViewBag.AddressTypeId">
					        <option value="" selected disabled hidden>Choose Address Type</option>
				        </select>
			        </div>
			        <div class="form-group col-md-4">
				       <b>PostalCode</b> 
				        <input asp-for="Address.PostalCode" class="form-control" placeholder="Enter Postal Code"/>
				        <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
			        </div>
		        </div>
	        </div>
        </div>
        <!--end: Wizard Step 2-->
        <!--begin: Wizard Step 3-->
        <div class="card">
	        <div class="pb-5" data-wizard-type="step-content" id="school">
		        <div class="card-header">
			        <h3 class="">High School Qualifications</h3>
		        </div>
		        <div class="row ml-3 mt-4">
			        <div class="form-group col-md-3">
				        <b>School</b>
				        <select asp-for="Learner.SchoolId" class="form-control select2-search--dropdown" style="width: 100%" asp-items="ViewBag.SchoolId">
					        <option value="" selected disabled hidden>Choose Your School</option>
				        </select>
			        </div>
			        <div class="form-group col-md-3">
				       <b>School Grade</b><br>
				        <select asp-for="Learner.SchoolGradeId" class="form-control select2-search--dropdown" style="width: 100%" asp-items="ViewBag.SchoolGradeId">
					        <option value="" selected disabled hidden>Choose Your Last School Grade</option>
				        </select>
			        </div>
			        <div class="form-group col-md-3">
				       <b>Year School Completed</b>
				        <input asp-for="Learner.YearSchoolCompleted" class="form-control"/>
			        </div>
		        </div>

		        @*
		        <h3 class=" card-header">Higher Education Qualifications</h3>
		        <div class="editorRows" id="editorRows">
				        <partial asp-controller="LearnerCourse" asp-action="_AddQualification" />
		        </div>
		        *@

		        @*<div class="row"> <a id="addItem" asp-controller="LearnerCourse" asp-action="BlankLearnerCourse" ><button class="btn btn-dark mt-8 ml-8">Add Qualification...</button></a> </div>*@
	        </div>
        </div>
        <!--end: Wizard Step 3-->
        <!--begin: Wizard Step 5-->
        <div class="pb-5" data-wizard-type="step-content" id="preview">
	        <div class="card">
		        <!--begin::Title-->
		        <div class="card-header">
			        <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Complete</h3>
			        <div class="text-muted font-weight-bold font-size-h4">Complete Your Account Creation And Become A Member!</div>
		        </div>
		        <!--end::Title-->
		        <!--begin::Section-->
		        <div class="col-md-3">
			        <h4 class="font-weight-bolder mb-3">Personal Information:</h4>
			        <span class="label label-success label-inline mr-2">Captured</span>
		        </div>
		        <!--end::Section-->
		        <!--begin::Section-->
		        <div class="col-md-3">
			        <h4 class="font-weight-bolder mb-3">Address Details:</h4>
			        <div class="text-dark-50 font-weight-bold line-height-lg mb-8">
				        <span class="label label-success label-inline mr-2">Captured</span>
			        </div>
		        </div>
		        <!--end::Section-->
		        <!--begin::Section-->
		        <div class="col-md-3">
			        <h4 class="font-weight-bolder mb-3">Qualifications:</h4>
			        <div class="text-dark-50 font-weight-bold line-height-lg mb-8">
				        <span class="label label-success label-inline mr-2">Added</span>
			        </div>
		        </div>
		        <!--end::Section-->
		        <div class="" id="previewDiv"></div>
	        </div>
        </div>
        <!--end: Wizard Step 5-->
        <!--begin: Wizard Actions-->
        <div class="d-flex justify-content-between border-top mt-5 pt-10">
	        <div class="mr-2">
		        <button type="button" id="prev-step" class="btn btn-light-primary font-weight-bolder px-10 py-3" data-wizard-type="action-prev">
			        <span class="svg-icon svg-icon-md mr-3">
				        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-left.svg-->
				        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <polygon points="0 0 24 0 24 24 0 24"></polygon>
						        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
						        <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)"></path>
					        </g>
				        </svg>
				        <!--end::Svg Icon-->
			        </span>Previous</button>
	        </div>
	        <div>
		        <div class="mt-2" data-wizard-type="action-submit"><input type="submit" value="Create Account" class="btn btn-light-success font-weight-bolder px-10 py-3"/></div>
		        <button type="button" id="next-step" class="btn btn-primary font-weight-bolder px-10 py-3" data-wizard-type="action-next">Next
			        <span class="svg-icon svg-icon-md ml-3">
				        <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
				        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <polygon points="0 0 24 0 24 24 0 24"></polygon>
						        <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
						        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
					        </g>
				        </svg>
				        <!--end::Svg Icon-->
			        </span></button>
	        </div>
        </div>
        <!--end: Wizard Actions-->
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        </form>
        <!--end: Wizard Form-->
        </div>
        </div>
        <!--end: Wizard Body-->
        </div>
        <!--end: Wizard-->
        </div>
        </div>
        </div>
    <!--end::Container-->
    </div>
</div>
<!--end::Main-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section scripts {
	<script>
	let avatar1 = new KTImageInput('kt_image_1');
	
    $(document).ready(function () {

        $('#CountryId').change(function () {
            var url = '/Address/GetCountryProvinces/';
            var CountriesId = $('#CountryId').val();
            console.log('CountryId = ' + CountriesId);
            $.getJSON(url, { Id: CountriesId }, function (data) {
                var items = "";
                $("#ProvinceId").empty(); 

                $.each(data, function (i, row) {

                    items += '<option value="' + row.id + '">' + row.provinceName + '</option>';
                });
                $('#ProvinceId').html(items);
            });
        });
    });
	
		
    $(document).ready(function () {

        $('#ProvinceId').change(function () {
            var url = '/Address/GetProvinceCities/';
            var provinceId = $('#ProvinceId').val();
            console.log('ProvinceId = ' + provinceId);
            $.getJSON(url, { Id: provinceId }, function (data) {
                var items = "";
                $("#CityId").empty(); 

                $.each(data, function (i, row) {

                    items += '<option value="' + row.id + '">' + row.cityName + '</option>';
                });
                $('#CityId').html(items);
            });
        });
    });
    
    	
    $(document).ready(function () {

        $('#CityId').change(function () {
            var url = '/Address/GetCitySuburbs/';
            var CityId = $('#CityId').val();
            console.log('CityId = ' + CityId);
            $.getJSON(url, { Id: CityId }, function (data) {
                var items = "";
                $("#SuburbId").empty(); 

                $.each(data, function (i, row) {

                    items += '<option value="' + row.id + '">' + row.suburbName + '</option>';
                });
                $('#SuburbId').html(items);
            });
        });
    });
    
     $( "#preview" ).change( function() {
             
             let account=$('#account').clone(true);
             let address=$('#address').clone(true);
             let school=$('#school').clone(true);
             $('#previewDiv').html(account).append(address).append(school);
             $('#previewDiv input').attr('readonly','readonly');
          $( "#previewDiv" ).dialog( "open" );
          return false;
        });
     
        $( "#previewDiv" ).dialog({
          autoOpen: false,
            open:function(){
                        },      
          show: "blind",
          hide: "explode"
        });
        
        
     
    </script>
}