@model learner_portal.Models.Person

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonsDob" class="control-label"></label>
                <input asp-for="PersonsDob" class="form-control" />
                <span asp-validation-for="PersonsDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class ="form-control" asp-items="ViewBag.GenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NationalId" class="control-label"></label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquityId" class="control-label"></label>
                <select asp-for="EquityId" class ="form-control" asp-items="ViewBag.EquityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NationalityId" class="control-label"></label>
                <select asp-for="NationalityId" class ="form-control" asp-items="ViewBag.NationalityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HomeLanguageId" class="control-label"></label>
                <select asp-for="HomeLanguageId" class ="form-control" asp-items="ViewBag.HomeLanguageId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CitizenshipStatusId" class="control-label"></label>
                <select asp-for="CitizenshipStatusId" class ="form-control" asp-items="ViewBag.CitizenshipStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DisabilityStatusId" class="control-label"></label>
                <select asp-for="DisabilityStatusId" class ="form-control" asp-items="ViewBag.DisabilityStatusId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoName" class="control-label"></label>
                <input asp-for="PhotoName" class="form-control" />
                <span asp-validation-for="PhotoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
