@{
    Layout = "_Layout";
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h4 class="mt-8"> Job Applications</h4>
    </div>
    <div class="card-body">
        <table id="alljobApplications" class="table dt-responsive nowrap w-100">
            <thead>
            @*<tr>
                <div class="form-actions no-color col-md-3 float-left">
                    <button class="btn btn-primary btn-sm mb-2 btn-rounded" onclick="showInPopUp('@Url.Action("Create", "JobApplications", null, Context.Request.Scheme)', 'Add Job Application')" id="btnCreate"><i class="fa fa-plus"></i>Create Job Application</button>
                </div>
            </tr>*@
            <tr>
                <th>National ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Equity</th>
                <th>Disability Status</th>
                <th>Job Title</th>
                <th>Sector</th>
                <th>Date Applied</th>
                @*<th>Province</th>*@
                <th>Application Status</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        createJobApplicationsDataTable('alljobApplications', '/JobApplications/GetAllJobApplications'); 

        // Hide the "busy" Gif at load:

    });

</script>