@{
    Layout = "_Layout";
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h4 class="mt-8">Cities</h4>
    </div>
    <div class="card-body">
        <table id="allProvinces" class="table ">
            <thead>
            <tr>
                
                <div class="form-actions no-color col-md-3 float-left">
                    <button class="btn btn-primary btn-sm mb-3 btn-rounded" onclick="showInPopUp('@Url.Action("Create", "Cities", null, Context.Request.Scheme)', 'Add City')" id="btnCreate"><i class="fa fa-plus"></i>Add</button>
                </div>
            </tr>
            <tr>
                <th>ID</th>
                <th>City Code</th>
                <th>City Name</th>
                <th>Province</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>
    </div> 
</div>

<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        createCitiesDataTable('allProvinces', '/Cities/GetAllCities');

        // Hide the "busy" Gif at load:


    });


</script>