@model learner_portal.Models.InstitutionType

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-12">
                    <b class="control-label">Institution Type Code</b>
                    <input asp-for="InstitutionTypeCode" class="form-control" placeholder="Enter Institution Type Code"/>
                    <span asp-validation-for="InstitutionTypeCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <b class="control-label">Institution Type Description</b>
                    <input asp-for="InstitutionTypeDesc" class="form-control" placeholder="Enter Institution Type Description"/>
                    <span asp-validation-for="InstitutionTypeDesc" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mr-1"/>
            </div>
        </form>