@model learner_portal.Models.Sector

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for=" SectorId" />
                <div class="row">
                    <div class="form-group col-md-12">
                        <b>Sector Description</b>
                        <input asp-for="SectorDesc" class="form-control" placeholder="Enter Sector Description" />
                        <span asp-validation-for="SectorDesc" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <b>Active(Y/N)</b>
                        <input asp-for="ActiveYn" class="form-control" placeholder="Yes/No"/>
                        <span asp-validation-for="ActiveYn" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success mr-1" />
                </div>
            </form>