

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h4 class="mt-8">Sectors</h4>
    </div>
    <div class="card-body">
        <table id="allsector" class="table ">
            <thead>
            @*<tr>
                <div class="form-actions no-color col-md-3 float-left">
                    <button class="btn btn-primary btn-sm mb-2 btn-rounded" onclick="showInPopUp('@Url.Action("Create", "Sector", null, Context.Request.Scheme)', 'Add Sector')" id="btnCreate"><i class="fa fa-plus"></i>Create Sector</button>
                </div>
            </tr>*@
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Active(Y/N)</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        createSectorDataTable('allsector', '/Sector/GetAllSector');

        // Hide the "busy" Gif at load:


    });


</script>    