@{
    Layout = "_Layout";
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h4 class="mt-8">Suburbs</h4>
    </div>
    <div class="card-body">
        <table id="allSuburbs" class="table ">
            <thead>
            <tr>
                <div class="form-actions no-color col-md-3 float-left">
                    <button class="btn btn-primary btn-sm mb-2 btn-rounded" onclick="showInPopUp('@Url.Action("Create", "Suburbs", null, Context.Request.Scheme)', 'Add Suburb')" id="btnCreate"><i class="fa fa-plus"></i>Create Suburb</button>
                </div>
            </tr>
            <tr>
                <th>Id</th>
                <th>Suburb Code</th>
                <th>Suburb Name</th>
                <th>City Name</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        createSuburbsDataTable('allSuburbs', '/Suburbs/GetAllSuburbs');

        // Hide the "busy" Gif at load:


    });


</script>