@{
    Layout = "_Layout_Main";
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h4 class="mt-8">Schools</h4>
    </div>
    <div class="card-body">
        <table id="allSchool" class="table ">
            <thead>
            <tr>
                <div class="form-actions no-color col-md-3 float-left">
                    <button class="btn btn-primary btn-sm mb-2 btn-rounded" onclick="showInPopUp('@Url.Action("Create", "School", null, Context.Request.Scheme)', 'Add School')" id="btnCreate"><i class="fa fa-plus"></i>Create School</button>
                </div>
            </tr>
            <tr>
                <th>Id</th>
                <th>School Code</th>
                <th>EMIS No</th>
                <th>School Name</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>

    </div>
</div>

<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        createSchoolDataTable('allSchool', '/School/GetAllSchool'); 

        // Hide the "busy" Gif at load:


    });

</script>