@model learner_portal.DTO.AddressTypeDetailsDTO

<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="progressbarwizard">

        <div class="tab-content mb-0 b-0">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.AddressTypeCode):</b>
                        <div class="form-control form-control-feedback h-auto p-3">
                            @Html.DisplayFor(model => model.AddressTypeCode)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.AddressTypeName):</b>
                        <div class="form-control form-control-feedback h-auto p-3">
                            @Html.DisplayFor(model => model.AddressTypeName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>