@{
    Layout = "_Layout_Main";
}

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h4 class="mt-8">Address Types</h4>
    </div>
    <div class="card-body">
        <table id="allAddressTypes" class="table ">
            <thead>
            <tr>
                <div class="form-actions no-color col-md-3 float-left">
                    <button class="btn btn-primary btn-sm mb-2 btn-rounded" onclick="showInPopUp('@Url.Action("Create", "AddressTypes", null, Context.Request.Scheme)', 'Add Address Type')" id="btnCreate"><i class="fa fa-plus"></i>Create Address Type</button>
                </div>
            </tr>
            <tr>
                <th>Id</th>
                <th>Address Type Code</th>
                <th>Address Type Name</th>
                <th>Action</th>
            </tr>
            </thead>

        </table>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#divProcessing").hide();

        createAddressTypesDataTable('allAddressTypes', '/AddressTypes/GetAllAddressTypes');

        // Hide the "busy" Gif at load:


    });


</script>